.search_section{
  margin-top: 1rem;
  position: absolute;
  width: 100%;
  padding: 0.6rem;
  height: 15rem;
  overflow-y: auto;
}

.search_section::-webkit-scrollbar{
  display: none;
}

.search_section .searchHeading{
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #03C988;
  letter-spacing: 0.1rem;
}

.search_section .search_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #c5c1c1;
  margin: 1rem 0rem 1rem 0rem;
}

.search_section .search_box img{
  width: 4rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
}

.search_section .search_box .songNameAndartistName .songName{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000;
}

.search_section .search_box .songNameAndartistName .artistName{
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}